body {
  background: #000;
  color: #B2CDDE;
  font-family: courier new;
}

#screen {
  background: white;
  position: relative;
  width: 700px;
  height: 470px;
  overflow: hidden;
  cursor: crosshair;
}
#screen canvas {
  width: 320px;
  height: 200px;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}


